.navigationButton {
    @media screen and (min-width: 576px) {
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 0 11px;
        & > * {
            flex: 0 1 auto;
            margin: 0 7px;
        }

        width: 100%;
        height: 56px;
        border-radius: 28px;
        border: 0;
        font-size: 18px;
        color: #8C8C9C;
        background: transparent;
        cursor: pointer;

        &.active {
            background: #fff;
        }
    }
    @media screen and (max-width: 575px) {
        background: transparent;
        border: 0;
        margin-bottom: 30px;

        & > div {
            display: none;
        }
        & > span {
            font-size: 18px;
            font-weight: bold;
            color: #82979C;
        }
        &.active > span {
            color: #235864;
        }
    }
}

.greyButton {
    width: 200px;
    height: 60px;
    background: #302C28;
    color: white;
    border-radius: 30px;
    border: 0;
    font-size: 17px;
    cursor: pointer;

    &:hover {
        opacity: .9;
    }
}