.blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(155,155,155,0.5);
    backdrop-filter: blur(4px);
    overflow-y: scroll;

    & > .modal {
        position: relative;
        min-height: 60px;
        background: white;
        border-radius: 16px;
        overflow: hidden;
        @media screen and (min-width: 576px) {
            width: 504px;
            margin: 80px auto 80px auto;
        }
        @media screen and (max-width: 575px) {
            width: 272px;
            margin: 40px auto 40px auto;
        }

        & > .close {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 40px;
            height: 40px;
            background: rgba(255,255,255,.6);
            border: 0;
            border-radius: 50%;
            line-height: 40px;
            cursor: pointer;
            &:hover {
                background: wheat;
            }
        }
    }
}

// designes
img.popup1 {
    width: 100%;
}
div.popup1 {
    @media screen and (min-width: 576px) {
        padding: 30px;
    }
    @media screen and (max-width: 575px) {
        padding: 16px;
    }

    & > h2 {
        margin-bottom: 30px;
    }
    & > span {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
    }
    & > p {
        line-height: 140%;
    }
}